@{
    ViewBag.Title = "TopNavigation";
}

<ul id="top-navigation">
    <li><a href="/">Home</a>
        <ul>
            <li><a href="/Home/Link1">Link 1</a></li>
            <li><a href="/Home/Link2">Link 2</a></li>
        </ul>
    </li>
    <li><a href="/About">About</a>
        <ul>
            <li><a href="/About/Link1">Link 1</a></li>
            <li><a href="/About/Link2">Link 2</a></li>
            <li><a href="/About/Link3">Link 3</a></li>
        </ul>
    </li>
    <li><a href="/Help">Help</a></li>
</ul>