<ul id="top-navigation">
    <li><a href="/">Home</a>
        <ul>
            @{ Html.RenderAction("DisplaySubMenuNavigation", "Home"); }
        </ul>
    </li>
    <li><a href="/About">About</a>
        <ul>
            @{ Html.RenderAction("DisplaySubMenuNavigation", "About"); }
        </ul>
    </li>
    <li><a href="/Help">Help</a>
        <ul>
            @{ Html.RenderAction("DisplaySubMenuNavigation", "Help"); }
        </ul>
    </li>
</ul>